<a href="https://colab.research.google.com/github/isurunuwanthilaka/ml-models/blob/master/decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!git clone 'https://github.com/isurunuwanthilaka/ml-datasets.git'
!ls

fatal: destination path 'ml-datasets' already exists and is not an empty directory.
ml-datasets  sample_data

In [0]:
import pandas as pd

In [9]:
path = '/content/ml-datasets/Part 2 - Regression/Section 8 - Decision Tree Regression/Position_Salaries.csv'
df = pd.read_csv(path)
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000